@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <form asp-action="Process" method="post">
        <label for="Name">Your Name:</label>
        <input name="Name" for="Name" type="text" placeholder="Please Enter Your Name" class="border rounded-md m-8">
        <div>
        <button type="button" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
