@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Welcome!</h1>
    <h2 class="display-6">Please give your name</h2>
    <form asp-action="Login" method="POST">
        <label for="Name">Name:</label>
        <input name="Name" for="Name" type="text" placeholder="Please Enter Your Name" class="border rounded-md m-8">
        <div>
        <button type="submit" class="btn btn-success">Submit</button>
        </div>
    </form>
</div>
